<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342221500190-915cs2rr384p7ons11g7vlefch43ncjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342221500190-915cs2rr384p7ons11g7vlefch43ncjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBusto6rFl1Psq45RNXPHKq2BNBSE5PM4o</string>
	<key>GCM_SENDER_ID</key>
	<string>342221500190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>apps-f3bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-f3bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342221500190:ios:151e6ad501f97312e9630f</string>
</dict>
</plist>